#footer{
	background-color: black; padding: 30px 0 10px; color: #dfdfdf;
}
#footer--top{
  flex-wrap: wrap;
}
.footer--top{
  flex: 0 0 calc(33% - 30px); margin: 15px;
}
#footer a, #footer .link{
	color: #dfdfdf; transition: all 0.2s;
}
#footer a:hover, #footer a:focus, #footer .link:hover{
	color: white;
}
#footer--social{
	font-size: 2em;
}
#privacy_policy{
	background-color: rgba(0,0,0,0.8); position: fixed; z-index: 110; top:0; left:0; right:0; bottom:0; display: none;
}
#privacy_policy.open{
	display: block;
}
#privacy_policy--inside{
	background-color: white; padding: 15px 30px 45px; margin: 15px auto; box-shadow: 1px, 1px, 5px, black; border-radius: 5px; overflow-y: scroll;  height: calc(100% - 30px);
}
#privacy_policy--inside .d-flex{
	justify-content: space-between; 	border-bottom: solid 1px #d4d4d4; padding-bottom: 5px; margin-bottom: 15px;
}
#privacy_policy--inside .close{
	font-size: 21px;  font-weight: bold; line-height: 1;  text-shadow: 0 1px 0 #fff; color: #8b8b8b;
}
#privacy_policy--inside .close:hover{
	color: black;
}
#privacy_policy--inside ol{
	margin-left: 15px;
}
#cookies-message{
	color: white; padding: 18px; text-align: center; position: fixed; bottom:0px; left:0; right:0; background-color: rgba(0,0,0,0.8); z-index: 100; box-shadow: 0 0 5px rgba(0,0,0,0.4); display: none;
}
#cookies-message.open{
	display: block;
}
#accept-cookies-checkbox{
	background-color: #8b3aca; color: #FFF; border: solid 1px #8b3aca; transition: all 0.3s; padding: 3px 6px; border-radius: 4px; display: inline-block; margin-left: 10px; position: relative; top:-2px;
}
#accept-cookies-checkbox:hover{
	background-color: transparent; border-color: white
}
/* style mobile */
@media(max-width: 768px) {
	#footer--top{
	  display: block; text-align: center;
	}
}
