@import './../../assets/scss/_colors.scss';

#footer{
	background-color: $color-black; padding: 30px 10px 10px; color: $color-light;
	.footer--top--box{
		flex-wrap: wrap; 
	}
	.footer--top{
		flex: 0 0 calc(33% - 30px); margin: 15px; padding-bottom: 15px;
	}
	a{
		color: $color-light; transition: all 0.2s;
	}
	a:hover, a:focus{
		color: $color-white; 
	}
	#footer--social{
		font-size: 2em;
	}
}
#cookies-message{
	color: $color-white; 
	padding: 12px; 
	position: fixed; 
	bottom:0px; 
	right:0; 
	background-color: rgba(0,0,0,0.8); 
	z-index: 100; 
	display: none;
	font-family:'Lucida Console';
	p{
		font-size: 11px;
	}
	&.open{
		display: block;
	}
	a{
		color: $color-light;
	}
	a:hover, a:focus{
		color: $color-white; 
		text-decoration: underline;
	}
	#accept-cookies-checkbox{
		color: $color-white;
		font-size: 11px;
		font-family:'Lucida Console';
		&:hover{
			text-decoration: underline;
		}
	}
}
/* style mobile */
@media(max-width: 768px) {
	#footer .footer--top--box{
		display: block; text-align: center;
	}
}
/* style print */
@media print {
	#footer, #footer a{
		color: $color-black;
	}
	#footer--social, #cookies-message{
		display: none !important;
	}
}