@import './../../assets/scss/_colors.scss';

#footer{
	background-color: black; padding: 30px 10px 10px; color: #dfdfdf;
	.footer--top--box{
		flex-wrap: wrap; 
	}
	.footer--top{
		flex: 0 0 calc(33% - 30px); margin: 15px; padding-bottom: 15px;
	}
	a, .link{
		color: #dfdfdf; transition: all 0.2s;
	}
	a:hover, a:focus, .link:hover{
		color: white;
	}
	#footer--social{
		font-size: 2em;
	}
}
#privacy_policy{
	background-color: rgba(0,0,0,0.8); position: fixed; z-index: 110; top:0; left:0; right:0; bottom:0; display: none;
	&.open{
		display: block;
	}
	.container{
		background-color: $color-white; padding: 15px 30px 45px; margin: 15px auto; box-shadow: 1px, 1px, 5px, $color-black; border-radius: 5px; overflow-y: scroll;  height: calc(100% - 30px);
		.d-flex{
			justify-content: space-between; 	border-bottom: solid 1px #d4d4d4; padding-bottom: 5px; margin-bottom: 15px;
		}
		.close{
			font-size: 21px;  font-weight: bold; line-height: 1;  text-shadow: 0 1px 0 #fff; color: #8b8b8b;
			&:hover{
				color: black;
			}
		}
		ol{
			margin-left: 15px;
		}
	}
}
#cookies-message{
	color: $color-white; 
	padding: 12px; 
	position: fixed; 
	bottom:0px; 
	right:0; 
	background-color: rgba(0,0,0,0.8); 
	z-index: 100; 
	display: none;
	font-family:'Lucida Console';
	p{
		font-size: 11px;
	}
	&.open{
		display: block;
	}
	#accept-cookies-checkbox{
		color: $color-white;
		font-size: 11px;
		font-family:'Lucida Console';
		&:hover{
			text-decoration: underline;
		}
	}
}
/* style mobile */
@media(max-width: 768px) {
	#footer .footer--top--box{
		display: block; text-align: center;
	}
}
/* style print */
@media print {
	#footer, #footer a{
		color: $color-black;
	}
	#footer .link, #footer--social, #cookies-message{
		display: none !important;
	}
}